<li class="account-item has-icon      has-dropdown">

    <a href="https://shoplamdep.haiphongweb.com/tai-khoan/" class="account-link account-login" title="Tài khoản">
        <span class="header-account-title">
            Tài khoản
        </span>
        <i class="image-icon circle">
        <img alt="" src="https://secure.gravatar.com/avatar/6dd819d1f0a4f1006fbe450a5ffe8884?s=96&amp;d=mm&amp;r=g" data-src="https://secure.gravatar.com/avatar/6dd819d1f0a4f1006fbe450a5ffe8884?s=96&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/6dd819d1f0a4f1006fbe450a5ffe8884?s=192&amp;d=mm&amp;r=g 2x" data-srcset="https://secure.gravatar.com/avatar/6dd819d1f0a4f1006fbe450a5ffe8884?s=192&amp;d=mm&amp;r=g 2x" class="avatar avatar-96 photo lazy-load-active" height="96" width="96"></i>
    </a><!-- .account-link -->

    <ul class="nav-dropdown  nav-dropdown-default" style="">
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active active">
            <a href="">Bảng điều khiển</a>
            <!-- empty -->
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
            <a href="">Đơn hàng</a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
            <a href="">Tải xuống</a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
            <a href="">Địa chỉ</a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
            <a href="">Thông tin tài khoản</a>
        </li>
        <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
            <a href="~/gio-hang">Đăng xuất</a>
        </li>
    </ul>

</li>